<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    
  </head>
  <body>
    <nav>
      <h1 class="logo"><a href="/"><%= title %> </a></h1>
      <p>Welcome to <%= title %>. This is a little trial, a taste of what you can do with the Api.</p>
      <p>Go ahead and pass as many queries as you want directly on your browser's searchbar</p>
    </nav>

    <div class = "ads-container">
    <% ads.forEach(item => { %>
      <div class="card" style="width: 18rem;">
        <img src="../<%= item.cover %>" class="card-img-top" alt="cover picture">
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text">description: <%= item.description %></p>
          <p class="card-price">price: <%= item.price %>€</p>
          <p class="card-text">tags: <%= item.tags %></p>
          <a href="http://localhost:3000/view/<%= item._id %>" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% }) %>
    </div>

    
  </body>
</html>
